<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク詳細</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

	<div>
	  ユーザ：<span sec:authentication="principal.username"></span>
				(<span sec:authentication="principal.nickname"></span>)
	</div>
	<br>

<h2>タスク詳細</h2>

<!-- ------------タスク詳細---------------- -->
<table class="detail-table" th:object="${taskDetail}">
	<tr>
		<td class="guide">【タスクID】</td>
		<td th:text="*{taskId}"></td>
	</tr>
	<tr>
		<td class="guide">【タスク名】</td>
		<td th:text="*{taskName}"></td>
	</tr>
	<tr>
		<td class="guide">【期限】</td>
		<td th:text="*{limitDate}"></td>
	</tr>
	<tr>
		<td class="guide">【ステータス】</td>
		<td th:text="*{status.statusCode + ':' + status.statusName}"></td>
	</tr>
	<tr>
		<td class="guide">【備考】</td>
		<td th:text="*{remarks}"></td>
	</tr>
</table>
<form th:action="@{/task-show-edit}" method="POST" th:object="${taskDetail}">
	<input type="hidden" th:field="*{taskId}">
	<input type="hidden" th:field="*{taskName}">
	<input type="hidden" th:field="*{limitDate}">
	<input type="hidden" name="statusCode" th:value="*{status.statusCode}">
	<input type="hidden" th:field="*{remarks}">
	<input type="submit" value="編集" class="btn">
</form>

<div sec:authorize="hasRole('ADMIN')">
<form th:action="@{/task-remove}" method="POST" th:object="${taskDetail}">
	<input type="hidden" th:field="*{taskId}">
	<input type="submit" value="削除" class="btn">
</form>

<div th:if="${taskDetail.memoList.size()} != 0">
	(メモは全て削除)
</div>
</div>
<br>


<!-- ------------メモ一覧---------------- -->
<div th:if="${taskDetail.memoList.size()} != 0">

	<table class="memo-list">
		<tr>
			<!-- 削除列（ADMINのみ表示） -->
			<th sec:authorize="hasRole('ADMIN')">削除</th>
			<th>メモID</th>
			<th>メモ</th>
		</tr>

		<tr th:each="memo : ${taskDetail.memoList}">
			<!-- 削除ボタン（ADMINのみ表示） -->
			<td sec:authorize="hasRole('ADMIN')">
				<form th:action="@{/admin/memo-remove}" method="POST">
					<input type="hidden" name="taskId" th:value="${memo.taskId}">
					<input type="hidden" name="memoId" th:value="${memo.memoId}">
					<input type="hidden" name="memo" th:value="${memo.memo}">
					<input type="submit" value="削除" class="tbtn">
			</form>
			</td>
			<td th:text="${memo.memoId}"></td>
			<td th:text="${memo.memo}"></td>
		</tr>

	</table>

</div>

<!-- ------------メモ登録へ---------------- -->
<form th:action="@{/memo-show-regist}" method="POST" th:object="${taskDetail}">
	<input type="hidden" th:field="*{taskId}">
	<input type="submit" value="メモ登録" class="btn">
</form>
<br>
<a th:href="@{/top}">トップページに戻る</a>

</body>
</html>